@media (max-width: 600px) {
    main {
        min-height: 100vh;
        flex-direction: column;
        overflow-y: auto;
    }
    main > .BackgroundImage {
        width: 100%;
    }
    main > .LoginPart {
        width: 100%;
        padding-bottom: 40px;
        border-radius: 22px 22px 0 0;
        margin: -50px 0 0 0;
    }
}
